*{
  padding: 0;
  margin: 0;
}
#site-name{
  font-weight: bolder;
  display: inline-block;
  color: white;
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
}
@media screen and (min-width:991px){
  #divider-line{
    display: none;
  }
}
@media screen and (max-width:767px){
  #hello{
    position: relative;
    left: 17px;
  }
}
.carousel-inner >.carousel-item> img{
        width : 100%;
        margin: auto;
}
.popover{
  width: 150px;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader img {
  max-width: 150px;
}
.carousel-inner >.item > img{
  width: 100%;
  margin: auto;
}
#hello{
  color: red;
  font-size: 15px;
}
.text-head{
  color: red;
  font-family: 'Cookie', cursive;
  font-size: 50px;
}
.bg-gray{
  background-color: #f8f8f8;
}
.intro-item {
  padding: 60px;
}
.intro {
  position: relative;
  z-index: 1;
  border: 1px solid rgba(0, 0, 0, 0.04);
}
@media (max-width: 991px) {
  .intro-item {
    padding: 30px;
  }
  #break{
    display: none;
  }
}
.intro-item > i{
  font-size: 60px;
}
.item{
	padding: 15px;
	background-color: #f8f8f8;
	margin: 10px;
	text-align: justify;
	box-shadow: 2px 2px 4px black;
}
.bg-footer {
    background: #222;
    color: white;
    padding: 80px;
}

.bg-footer p {
    margin: 0;
    color: gray;
    padding: 6px;
}
.footer{
  background: #111;
  padding: 25px;
}
.bg-footer h6, h5{
  padding-left: 6px;
}
.bg-footer h6, h5, h4{
  color: #f8f8f8;
}
.newsletter .input-group .button {
  border: none !important;
  background: none;
  color: #fff;
  display: inline-block;
  padding-left: 7px;
}
.newsletter .input-group .button:hover{
  cursor: pointer;
}
.newsletter .form-control {
  border-radius: 0px;
  height: 50px;
  background: #121212;
  border: 1px solid rgba(255, 255, 255, 0.04);
  display: inline-block;
}
.newsletter .form-control:focus{
  background: #121212;
  color: #f8f8f8;
}
.newsletter .icofont-email{
  font-size: 50px;
  color: gray;
}
.footer-social{
  color: gray;
  font-size: 30px;
}
.footer-social:hover{
  text-decoration: none;
  color: gray;
}
.bg-image{
  width: 100%;
  height: 35vw;
  background: url('../images/blur.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
.bg-image > .row > .col-lg-12 > .text-center > .text-white{
  padding: 13vw;
  font-size: 100px;
  font-family: 'Abril Fatface', cursive;
}
@media screen and (max-width:991px){
  .bg-image > .row > .col-lg-12 > .text-center > .text-white{
    font-size: 4em;
    padding: 10vw;
  }
}
.box{
  padding: 40px;
}
.blur{
  filter: blur(5px);
}
.ft-gray{
  color: #a8a8a8;
}
.ft-black{
  color: black;
}
.cta {
  background: url("../images/delhi.jpg") fixed 50% 50% no-repeat;
  background-size: cover;
  position: relative;
  height: 30vw;
}
.font-lg{
  font-size: 5vw;
  font-family: 'Abril Fatface', cursive;
}
.tm-recommended-place {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    margin-bottom: 25px;
}

.tm-recommended-title {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;    
}

.tm-recommended-img { width: 270px; }

.tm-recommended-description-box {
    padding: 30px;
    width: 500px;
}

.tm-recommended-price-box {    
    background-color: #69c6ba;
    background-image: url(../images/button-curve.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    font-weight: 400;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 20px;
    width: 200px;
    transition: all 0.3s ease;
}

.tm-recommended-price-box:hover { 
	background-color: #c66995;
	text-decoration: none;
}

.tm-recommended-price {
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
}

.tm-recommended-price-link {
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
}
.tab-pane {
    max-width: 970px;
    margin: 60px auto;
}
@media screen and (max-width: 991px) {
   
    .tab-pane {
        margin-left: 20px;
        margin-right: 20px;
    }

    .tm-recommended-description-box { width: 450px; }
}

@media screen and (max-width: 860px) {
    .tm-recommended-description-box { width: 350px; }
}

@media screen and (max-width: 826px) {

    .tm-recommended-place-wrap {
        display: flex;
        flex-wrap: wrap;
        max-width: 600px;
        margin: 0 auto 15px;
    }

    .tm-recommended-place {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 270px;
    }

    .tm-recommended-price,
    .tm-recommended-price-link {
        position: relative;
        z-index: 1000;
    }

    .tm-recommended-price { padding-top: 50px; }

    .tm-recommended-price-box {
        width: 270px;
        height: 180px;        
        position: relative;
        overflow: hidden;
        padding-left: 0;
        background-image: none;
    }

    .tm-recommended-price-box:after {
        content: "";
        position: absolute;
        width: 180px;
        height: 270px;
        top: -45px;
        left: 45px;
        z-index: 27;
        background: url(../images/button-curve.png) 0 0 no-repeat;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        background-size: auto 100%;      
    }

    .tm-recommended-price-box,
    .tm-recommended-price-box:hover {
        background-size: cover;
    }

    .tm-recommended-description-box { width: 270px; }
}